 html { height: 100%; }
 @font-face {
    font-family: chintz;
    src: url(chintzy.ttf);
 }
 body { 
   height: 100%; color: rgb(231, 231, 231); 
   font-family: "chintz" "Georgia" "sans-serif";
   letter-spacing: 0.2em;
 }
 .modal-content {
  background-color: rgba(0, 0, 0, 0.5); 
 }
 a {
   color: #39FFF6;
 }
 p {
  font-family: ve;
 }
 body:not(.edit) .editor, body:not(.edit) .off {
   display: none;
 }
 body:not(.edit) .side-panel.closed .table, body:not(.edit) .side-panel.closed .body {
   display: none;
 }
 body.edit [data-value] {
   display: none;
 }
 .navbar {
   min-height: 0;
   line-height: 18px;
   font-size: 10px;
   background: linear-gradient(to bottom, rgba(125,126,125,1) 1%,rgba(125,126,125,1) 1%,rgba(14,14,14,1) 73%);
   margin-bottom: 0;
   border-radius: 0;
   border: none;
 }
 .navbar .item {
    float: left;
    background-color: black;
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
 }
 .navbar .item.active {
   background-color: rgb(231, 231, 231);
   color: black;
 }
 
   .container {
     width: 100%;
   }
 
 body > .container { 
  height: 100%;
  margin-top: -18px;
  padding-top: 18px;
 }
 .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
   border-top: none;
 }
 .side-bar {
  position: absolute; 
  width: 300px;
 }
 .side-panel {
  margin: 17px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset black 0px 0px 12px 0px;
 }
 .side-panel .header {
  text-align: center;
  min-height: 32px;
     background-color: rgba(0, 0, 0, 0.1);
  border-bottom: black 1px dotted;
  padding: 4px;
 }
 .side-panel .body {
   padding: 0 6px;
   font-size: 12px;
 }
 .side-panel .table {
   margin-bottom: 0;
 }
 svg {
   width: 100%;
   height: 100%;
   background-color: rgba(213, 239, 255, 1);
   overflow: visible;
   /*height: 2000px;*/
 }
 
 #loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(loading.gif) center no-repeat rgb(25, 31, 38);
 }
 #loader > div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  background-color: #191f26;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  top: 50%;
 }
 
 .slider {
  color: black;
  position: absolute;
  bottom: 7px;
  width: 100%;
  text-align: center;
  z-index:1;
  line-height: 9px;
 }
 .slider > div {
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.21);
   border: rgb(134, 134, 134) solid 1px; 
   width: 90%;
   overflow-x: hidden;
 }
 .slider input[type=range] {
  width: 100%;
  display:inline-block;
  margin:2px 0;
  margin-left: 0%;
 }
 .slider .preview {
  position: relative;
  width: 100%;
  height: 30px;
  border-bottom: rgb(134, 134, 134) solid 1px;
  display:inline-block;
 }
 .preview .century {
   float: left;
   line-height: 30px;
   width: 5%;
   font-size: 10px;
   opacity: 0.7;
   border-right: 1px solid black;
 }
 .preview .marker {
   position: absolute;
   height: 100%;
   width: 3px;
   background-color: black;
 }
 .slider .selection {
  width: 20%;
  height: 100%;
  background-color: rgba(0, 243, 255, 0.23);
  margin-left: 0%;
  box-shadow: black 4px 0px 6px -4px inset, black -4px 0px 6px -4px inset;
  cursor: ew-resize;
 }
 
 .hinter {
    position: absolute;
    bottom: 39px;
    z-index: 1000;
    color: rgb(44, 55, 255);
    right: 77px;
    font-size: 12px;
    font-family: verdana;
    letter-spacing: initial;
 }
 #templates {
  display: none;
 }